%a.btn.btn-warning(href=show_path data-method='delete' data-confirm='Do you want to remove this gallery?')
  %i.glyphicon.glyphicon-trash
  %span Remove
%a.btn.btn-primary(href=index_path)
  %i.glyphicon.glyphicon-arrow-left
  %span Back
%a.btn.btn-success(href=edit_path)
  %i.glyphicon.glyphicon-edit
  %span Edit